<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
    body{
      background-image: url("https://tailwindcss.com/_next/static/media/docs-dark@tinypng.1bbe175e.png");
    }
    </style>
</head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/books/paginate/1">Books<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/books/showBooksByCategory'}" class="nav-link">Show books by category</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/logout'}" class="btn btn-link">Logout</a>
                    </li>
                </ul>
            </nav>
            <div class="container mb-4">
                <div class="row">
                    <a type="button" class="btn btn-primary" href="/books/AddBook">Add book</a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Book name</th>
                                    <th scope="col">Book category</th>
                                    <th scope="col">availableCopies</th>
                                    <th scope="col">Book author name and surname</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="book :${books}">
                                    <td th:text="${book.getName()}"></td>
                                    <td th:text="${book.getCategory()}"></td>
                                    <td th:text="${book.getAvailableCopies()}"></td>
                                    <td th:text="${book.getAuthor().getName()} + ' ' + ${book.getAuthor().getSurname()}"></td>
                                    <td class="text-right">
                                        <th:block th:if="${session.user.role == T(com.example.demo.model.enumeration.Role).ROLE_ADMIN}">
                                        <a th:href="@{'/books/{id}/delete' (id=${book.getId()})}"
                                           class="btn btn-sm btn-info edit-product">
                                           Delete
                                        </a>
                                        </th:block>
                                        <th:block th:if="${session.user.role == T(com.example.demo.model.enumeration.Role).ROLE_ADMIN}">
                                        <a th:href="@{'/books/{id}/edit-form' (id=${book.getId()})}"
                                           class="btn btn-sm btn-info edit-product">
                                            Edit
                                        </a>
                                        </th:block>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div th:if="${totalPages > 1}">
                            <div class="row col-sm-10">
                                <div class="col-sm-2">
                                    Total Rows: [[${totalItems}]]
                                </div>
                                    <div class="col-sm-1">
                                        <span th:each="i: ${#numbers.sequence(1, totalPages)}" class="pagination">
                                          <a th:if="${currentPage != i}" th:href="@{'/books/paginate/' + ${i}}" class="page-link">[[${i}]]</a>
                                          <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                                        </span>
                                    </div>
                                    <div class="col-sm-1">
                                        <a th:if="${currentPage < totalPages}" th:href="@{'/books/paginate/' + ${currentPage + 1}}" class="page-link">Next</a>
                                        <span th:unless="${currentPage < totalPages}">Next</span>
                                    </div>

                                    <div class="col-sm-1">
                                        <a th:if="${currentPage < totalPages}" th:href="@{'/books/paginate/' + ${totalPages}}" class="page-link">Last</a>
                                        <span th:unless="${currentPage < totalPages}">Last</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </body>
</html>